.custom-cluster-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%; /* Ensures the icon is a circle */
    font-size: 12px;
    color: white;
    text-align: center;
  }
  
  .custom-cluster-icon .small {
    width: 30px;
    height: 30px;
  }
  
  .custom-cluster-icon .medium {
    width: 40px;
    height: 40px;
  }
  
  .custom-cluster-icon .large {
    width: 50px;
    height: 50px;
  }
  
  .custom-cluster-icon .cluster-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%; /* Ensures the icon is a circle */
    font-size: 12px;
    color: white;
    text-align: center;
  }
  

  .flag-icon {
    display: flex;
    align-items: center;
  }
  
  .country-code {
    margin-right: 5px;
  }
  
  .country-flag img {
    vertical-align: middle;
  }

  .apexcharts-menu-item {
    color: #64758B;
  }

  .apexcharts-tooltip.apexcharts-theme-light .apexcharts-tooltip-title {
    color: #64758B;
  }

  .apexcharts-tooltip-text {
    color: #64758B;
  }
  .SvgjsTspan2901 {
    fill: #64758B;
  }